---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "gallery",
  "people",
  "links";

;

///This is for Conferences page

.flex-container {
  display: flex;
  gap: 10px; /* Space between the image and video */
}

.flex-container img {
  width: 50%; /* Adjust the width as needed */
  height: auto;
}

.flex-container iframe {
  width: 50%; /* Adjust the width as needed */
  height: auto;
  aspect-ratio: 16 / 9; /* Maintain a 16:9 ratio for the video */
}

///This is for seminars

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.dropbtn {
  background-color: #00664F; /* Evergreen */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtn:hover {
  background-color: #004b28; /* Spruce */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: #004b28; /* Spruce */
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #e5f3ee; /* Light Juniper background */
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table th {
  background-color: #00664F; /* Evergreen */
  color: white;
}

table tr:nth-child(even) {
  background-color: #e5f3ee; /* Light Juniper */
}

table tr:hover {
  background-color: #b7d9cc; /* Soft Juniper */
}

/*button for opprotunities */

.button {
  background-color: #00664F; /* Evergreen */
  border: none;
  color: white;
  padding: 19px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button {border-radius: 12px;}

.button {transition-duration: 0.4s;
}

.button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
